@using TemplateManager.Common.ObjectModel;
@model PreviewDownload


<link href="css/btnDownload.css" rel="stylesheet" />
<form asp-action="DownloadPdf" id="myForm" method="post">
<div class="parent">
<div class="card">
    <div class="header">
        <div class="image">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </div>
        <div class="content">
            <span class="title">Order validated</span>
            <p class="message">Thank you for your purchase. you package will be delivered within 2 days of your purchase</p>
        </div>
        <div class="actions">
                    <button class="downloadBtn" type="submit">Scarica PDF</button>
        </div>
    </div>
</div>
</div>


   <div id="loadingSpinner" class="loading-overlay hidden">
    <div class="text-loader">
        Stiamo elaborando la sua richiesta.
        La preghiamo di non uscire da questa pagina.
    </div>
    <div class="loading-wave">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</div>


    
                                                        
</form>

<script src="~/js/downloadButton.js"></script>